.info {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;

    &__result,
    &__stats {
        justify-self: center;
        padding: 10px 20px;
        background-color: rgb(43, 43, 43);
        color: white;
    }

    &__result {
        text-align: left;
        min-width: 220px;
        &-player-choice, &-ai-choice {
            margin-bottom: 10px;
            &-span {
                font-weight: 900;
            }
        }
        &-title {
            margin-bottom: 10px;
            text-align: center;
        }
    }

    &__stats {
        &-title {
            margin-bottom: 10px;
        }
        &-games, &-wins, &-losses, &-draws {
            margin-bottom: 5px;
        }
    }
}